Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

lefthook.yml:

pre-push:
  commands:
    test:
      tags: backend tests
      run: bundle exec rspec

pre-commit:
  commands:
    reek:
      tags: backend style
      glob: "*.rb"
      run: bundle exec reek --force-exclusion {all_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Update README.md
  README.md
Due: none

Remove hello_controller
  spec/dummy/app/javascript/controllers/hello_controller.js
Due: eslint

Remove unused stuff
  spec/dummy/app/views/users/new.html.haml
Due: none

Fix assets precompile initializer
  lib/tramway/engine.rb
Due: reek, rubocop

Remove disconnect method
  app/assets/javascripts/tramway/multiselect_controller.js
Due: eslint

Refactoring
  app/assets/javascripts/tramway/multiselect_controller.js
Due: eslint

Remove unused convertaions
  app/assets/javascripts/tramway/multiselect_controller.js
Due: eslint

Release 0.4.9
  .rubocop.yml
  lib/tramway/version.rb
  tramway.gemspec
Due: reek, rubocop

Release 0.4.9.1
  lib/tramway/version.rb
Due: reek, rubocop

Issue #81. First routes tests passed
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/config/routes.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Issue #81. Fix routes namespace
  spec/dummy/config/routes.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Issue #81. Add index action and view
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/index.html.haml
  config/routes.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/index_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Issue #81. Add helpers for view
  app/controllers/tramway/entities_controller.rb
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/index.html.haml
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Issue #81. Add views for table rows
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/index.html.haml
Due: none

Issue #81. Add entity view
  app/views/tramway/entities/_entity.html.haml
Due: none

Issue #81. More updates
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/_entity.html.haml
  lib/tramway/base_decorator.rb
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Issue #81. Add config pages
  config/routes.rb
  lib/tramway/configs/entity.rb
  spec/dummy/config/initializers/tramway.rb
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Issue #81. Upgrade helper method
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Issue #81. Implement error message for non-existent decorator class
  app/views/tramway/entities/_entity.html.haml
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Issue #81. Showing page with main app application layout
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_entity.html.haml
  lib/tramway/config.rb
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Issue #81. Add one more warning message
  app/views/tramway/entities/index.html.haml
Due: none

Issue #81. Table view
  app/components/tailwind_component.rb
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.html.haml
  app/components/tailwinds/table_component.rb
  app/components/tramway/component/base.rb
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/index.html.haml
Due: reek, rubocop

Issue #81. Change style of the table
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.html.haml
  app/views/tramway/entities/_entity.html.haml
Due: reek, rubocop

Issue #81. Improve dark theme
  app/components/tailwinds/navbar_component.html.haml
  app/views/tramway/entities/index.html.haml
Due: none

Issue #81. Provide mobile view
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/index.html.haml
Due: reek, rubocop

Issue #81. Upgrade mobile cells
  app/components/tailwinds/table/row_component.html.haml
Due: none

Issue #81. Updates
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: none

Issue #81. Fix grid rows
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: none

Issue #81. Add scrolls to the cells
  app/components/tailwinds/table/row_component.html.haml
Due: none

Issue #81. Updates
  app/components/tailwinds/table_component.html.haml
Due: none

Issue #81. Add preview component
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row/preview_component.rb
  app/components/tailwinds/table/row_component.html.haml
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/index.html.haml
Due: reek, rubocop

Issue #81. Rollup works
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table_component.html.haml
  app/views/tramway/entities/index.html.haml
Due: eslint

Issue #81. Many updates
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/views/tramway/entities/_entity.html.haml
Due: eslint

Issue #81. Many updates
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row_component.html.haml
Due: eslint

Issue #81. Preview is ready
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: eslint

Issue #81. Remove using targets
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: eslint
