Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

lefthook.yml:

pre-push:
  commands:
    test:
      tags: backend tests
      run: bundle exec rspec

pre-commit:
  commands:
    reek:
      tags: backend style
      glob: "*.rb"
      run: bundle exec reek --force-exclusion {all_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Fix
  lib/tramway/configs/entities/page.rb
Due: reek, rubocop

Update README.md
  README.md
Due: none

Update tailwind table options
  app/components/tailwinds/table_component.html.haml
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Fix table component
  app/components/tailwinds/table_component.html.haml
Due: none

Fix table_component
  app/components/tailwinds/table_component.html.haml
Due: none

Implement index scopes configuration tests
  spec/dummy/config/initializers/tramway.rb
  spec/tramway/config_spec.rb
Due: reek, rubocop

Fix config test
  spec/tramway/config_spec.rb
Due: reek, rubocop

Update tests and add with_entities navbar option
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/navbar.rb
  spec/dummy/app/decorators/article_decorator.rb
  spec/factories/articles.rb
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Add namespace to tramway_decorate
  lib/tramway/decorators/class_helper.rb
  lib/tramway/helpers/decorate_helper.rb
Due: reek, rubocop

Fix tramway_decorate
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Fix namespace attribute
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Fix association in decorators
  lib/tramway/decorators/association.rb
Due: reek, rubocop

Fix flexible attributes
  lib/tramway/forms/properties.rb
Due: reek, rubocop

Fix decorator attribute in decorate
  lib/tramway/decorators/association.rb
Due: reek, rubocop

Implement nested routes
  config/routes.rb
Due: reek, rubocop

Fix entity tests
  spec/factories/tramway/configs/entity.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Fix test suite
  Rakefile
  spec/features/multiselect_input_spec.rb
  spec/rails_helper.rb
Due: reek, rubocop

Fix existing tests
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.rb
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Add disabled styles to select
  app/components/tailwinds/form/select_component.html.haml
  config/tailwind.config.js
Due: eslint

Fix entities index
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/_list.html.haml
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Index scopes (#94)
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/_list.html.haml
  config/routes.rb
  config/tailwind.config.js
  lib/tramway/configs/entities/page.rb
  lib/tramway/configs/entity.rb
  lib/tramway/decorators/association.rb
  lib/tramway/decorators/class_helper.rb
  lib/tramway/forms/properties.rb
  lib/tramway/helpers/decorate_helper.rb
  lib/tramway/helpers/navbar_helper.rb
  lib/tramway/navbar.rb
  spec/dummy/app/decorators/article_decorator.rb
  spec/dummy/config/initializers/tramway.rb
  spec/factories/articles.rb
  spec/factories/tramway/configs/entity.rb
  spec/features/entities/index_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/tramway/config_spec.rb
Due: reek, rubocop, eslint

Release 0.5.4
  .github/workflows/gem_push.yml
Due: none

Release 0.5.4
  .github/workflows/gem_push.yml
  lib/tramway/version.rb
Due: reek, rubocop

docs: document with_entities navbar option
  README.md
Due: none

Update README to describe with_entities option (#96)
  README.md
Due: none

Fix namespace
  app/controllers/tramway/entities_controller.rb
Due: reek, rubocop

Add one more raise
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Fix checking class
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Namespace fix (#97)
  app/controllers/tramway/entities_controller.rb
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Release 0.5.4.1
  lib/tramway/version.rb
Due: reek, rubocop

Add optional table headers
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/header_component.rb
Due: reek, rubocop

Add Tailwind numeric field support
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/numeric_field_component.html.haml
  app/components/tailwinds/form/numeric_field_component.rb
Due: reek, rubocop

Add Tailwind numeric field support (#98)
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/numeric_field_component.html.haml
  app/components/tailwinds/form/numeric_field_component.rb
Due: reek, rubocop

Add dark theme styles to Tailwinds form fields
  app/components/tailwinds/form/file_field_component.html.haml
  app/components/tailwinds/form/multiselect/dropdown_container.html.haml
  app/components/tailwinds/form/multiselect/item_container.html.haml
  app/components/tailwinds/form/multiselect/select_as_input.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template.html.haml
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/numeric_field_component.html.haml
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
Due: none

Ensure dark form inputs use white text and placeholders
  app/components/tailwinds/form/multiselect/select_as_input.html.haml
  app/components/tailwinds/form/numeric_field_component.html.haml
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
Due: none

Add dark theme styles to Tailwinds form fields (#100)
  app/components/tailwinds/form/file_field_component.html.haml
  app/components/tailwinds/form/multiselect/dropdown_container.html.haml
  app/components/tailwinds/form/multiselect/item_container.html.haml
  app/components/tailwinds/form/multiselect/select_as_input.html.haml
  app/components/tailwinds/form/multiselect/selected_item_template.html.haml
  app/components/tailwinds/form/multiselect_component.html.haml
  app/components/tailwinds/form/numeric_field_component.html.haml
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
Due: none

Fix number_field
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/number_field_component.html.haml
  app/components/tailwinds/form/number_field_component.rb
  app/components/tailwinds/table_component.html.haml
Due: reek, rubocop
