Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

reek:
  tags: backend style
  run: bundle exec reek --force-exclusion {all_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Issue #81. More updates
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/first_page_component.rb
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tailwinds/pagination/last_page_component.rb
  app/components/tailwinds/pagination/next_page_component.rb
  app/components/tailwinds/pagination/prev_page_component.rb
  app/components/tailwinds/table/row/preview_component.rb
  app/components/tailwinds/table_component.rb
  lib/tramway/configs/entity.rb
  lib/tramway/decorators/class_helper.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/app/models/comment.rb
Due: reek, rubocop

Issue #81. Fix tests
  spec/dummy/db/migrate/20241120022635_create_comments.rb
  spec/helpers/navbar_helper_spec.rb
Due: reek, rubocop

Issue #81. Fix navbar and pagination
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/pagination/base.rb
Due: reek, rubocop

Issue #81. Update gems
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lefthook.yml
Due: none

Issue #81. Add links to the index page
  Gemfile
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/views/tramway/entities/_entity.html.haml
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lib/tramway/base_decorator.rb
  spec/dummy/app/decorators/article_decorator.rb
  spec/dummy/app/models/article.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20241120224028_create_articles.rb
  spec/dummy/db/schema.rb
Due: reek, rubocop

Issue #81. Remove irrelevant sqlite3 gem
  Gemfile
Due: none

Issue #81. Fix migrations
  spec/dummy/db/migrate/20241120224028_create_articles.rb
Due: reek, rubocop

Issue #81. Fix navbar
  app/components/tailwinds/navbar_component.html.haml
Due: none

Issue #81. Upgrade localization
  app/controllers/tramway/entities_controller.rb
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Issue #81. Fix localization
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Issue #81. Add table cell component
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/cell_component.rb
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/views/tramway/entities/index.html.haml
Due: reek, rubocop

Issue #81. Fix row component
  app/components/tailwinds/table/row_component.html.haml
Due: none

Issue #81. Update label
  app/components/tailwinds/form/text_field_component.html.haml
Due: none

Issue #81. Create common LabelComponent
  app/components/tailwinds/form/label_component.html.haml
  app/components/tailwinds/form/label_component.rb
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
  app/components/tramway/component/base.rb
Due: reek, rubocop

Issue #81. Update docs
  Makefile
  README.md
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  package.json
Due: none

Issue #81. Fix multiselect
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/multiselect_component.html.haml
Due: eslint

Issue #81. Fix multiselect test
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  spec/dummy/app/views/users/new.html.haml
  spec/features/multiselect_input_spec.rb
Due: reek, rubocop

Release 0.5
  lib/tramway/version.rb
Due: reek, rubocop

Fix including tramway component
  app/components/tramway/component/base.rb
Due: reek, rubocop

Release 0.5.0.1
  lib/tramway/version.rb
Due: reek, rubocop

Add stimulus `change` action
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/multiselect_component.rb
Due: reek, rubocop, eslint

Fix getting external action
  app/components/tailwinds/form/multiselect_component.rb
Due: reek, rubocop

Updates
  spec/dummy/app/javascript/controllers/user_form_controller.js
  spec/dummy/app/views/users/new.html.haml
  spec/features/multiselect_input_spec.rb
Due: reek, rubocop, eslint

Writing tests
  app/assets/javascripts/tramway/multiselect_controller.js
  spec/dummy/app/javascript/controllers/application.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/javascript/controllers/user_form_controller.js
  spec/dummy/config/importmap.rb
  spec/features/multiselect_input_spec.rb
Due: reek, rubocop, eslint

Many updates for tests
  Gemfile
  spec/dummy/app/javascript/application.js
  spec/dummy/app/javascript/controllers/application.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/javascript/controllers/user_form_controller.js
  spec/dummy/config/importmap.rb
  spec/features/multiselect_input_spec.rb
Due: reek, rubocop, eslint

onChange works!
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/multiselect_component.rb
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/javascript/controllers/user_form_controller.js
Due: reek, rubocop, eslint

Multiselect onchange stimulus works
  Gemfile
  app/components/tailwinds/form/multiselect_component.rb
  spec/dummy/app/javascript/controllers/user_form_controller.js
  spec/features/multiselect_input_spec.rb
  spec/rails_helper.rb
  spec/support/web_driver_helper.rb
Due: reek, rubocop, eslint

Update README.md
  README.md
Due: none

Remove sqlite from the main Gemfile
  Gemfile
Due: none

Fix tailwind classes
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
Due: reek, rubocop

Update nav padding
  app/components/tailwinds/navbar_component.html.haml
Due: none

Send target with onChange
  app/assets/javascripts/tramway/multiselect_controller.js
Due: eslint

Fix setting selected value
  app/assets/javascripts/tramway/multiselect_controller.js
Due: eslint

Fix tailwind styles
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: none

Revert "Fix tailwind styles"
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: none

Fix pagination styles
  .github/workflows/rspec.yml
  Makefile
  app/components/tailwinds/pagination/first_page_component.html.haml
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/last_page_component.html.haml
  app/components/tailwinds/pagination/next_page_component.html.haml
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/pagination/prev_page_component.html.haml
  spec/components/tailwinds/navbar_component_spec.rb
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Updates to appraisal
  Gemfile
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lib/tramway/decorators/class_helper.rb
  package.json
Due: reek, rubocop

Fix showing empty collection
  app/views/tramway/entities/index.html.haml
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  eslint: any of: *.js
