Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

lefthook.yml:

pre-push:
  commands:
    test:
      tags: backend tests
      run: bundle exec rspec

pre-commit:
  commands:
    reek:
      tags: backend style
      glob: "*.rb"
      run: bundle exec reek --force-exclusion {all_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Change CI
  .github/workflows/rubocop.yml
Due: none

Add rendering header content
  app/views/tramway/entities/_list.html.haml
  lib/tramway/base_decorator.rb
Due: reek, rubocop

Update rubocop config
  .rubocop.yml
  app/helpers/tramway/application_helper.rb
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Fix CI
  .github/workflows/rubocop.yml
Due: none

Change rubocop-rspec
  .rubocop.yml
Due: none

Remove CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Upgrade rubocop-rails
  .rubocop.yml
Due: none

Return CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Release 0.5.2
  lib/tramway/version.rb
Due: reek, rubocop

Fix color in dark theme
  app/components/tailwinds/form/text_field_component.html.haml
Due: none

Release 0.5.2.1
  lib/tramway/version.rb
  package.json
Due: reek, rubocop

Update README.md
  README.md
Due: none

Update color text button
  app/components/tailwinds/form/submit_button_component.html.haml
Due: none

Update styles
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.html.haml
  config/tailwind.config.js
  lib/tramway/base_decorator.rb
Due: reek, rubocop, eslint

Some updates
  app/controllers/tramway/entities_controller.rb
  config/tailwind.config.js
  lib/tramway/base_decorator.rb
Due: reek, rubocop, eslint

Kaminari patch
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/_list.html.haml
  lib/kaminari/helpers/tag.rb
  lib/tramway/pagination/template_renderer.rb
Due: reek, rubocop

Fix styles
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
Due: eslint

Update styles
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: none

Add options to table
  app/components/tailwinds/table_component.html.haml
  app/components/tailwinds/table_component.rb
Due: reek, rubocop

Add options to table row
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
Due: reek, rubocop

Add text_area_component
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_area_component.rb
Due: reek, rubocop

Add component helper
  lib/tramway/base_decorator.rb
Due: reek, rubocop

Remove running tests on pre-push
  lefthook.yml
Due: none

Fix table-row
  app/components/tailwinds/table/row_component.html.haml
Due: none

Fix cells count
  app/components/tailwinds/table/row_component.html.haml
Due: none

Add more tests
  Gemfile
  app/components/tailwinds/form/select_component.html.haml
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  package.json
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/views/users/new.html.haml
  spec/dummy/db/migrate/20250318222051_add_avatar_to_users.rb
  spec/dummy/db/migrate/20250318222237_add_info_to_users.rb
  spec/dummy/db/schema.rb
  spec/features/form_for/base_spec.rb
Due: reek, rubocop

Fix tests
  spec/components/tailwinds/form/builder_spec.rb
  spec/features/form_for/base_spec.rb
  spec/forms/inheritance_form_spec.rb
Due: reek, rubocop

Remove mobile version of table
  app/components/tailwinds/table/row_component.html.haml
Due: none

Add base table spec
  spec/dummy/app/views/users/_user.html.haml
  spec/dummy/app/views/users/index.html.haml
  spec/features/table/base_spec.rb
Due: reek, rubocop

Fix index page
  app/views/tramway/entities/_list.html.haml
Due: none

Remove unused module
  lib/tramway/pagination/template_renderer.rb
Due: reek, rubocop

Linter fixes
  app/helpers/tramway/application_helper.rb
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lib/kaminari/helpers/tag.rb
  spec/dummy/db/migrate/20250318222051_add_avatar_to_users.rb
  spec/dummy/db/migrate/20250318222237_add_info_to_users.rb
  spec/dummy/db/schema.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
Due: reek, rubocop

Remove sqlite
  Gemfile
Due: none

Change migration versions
  spec/dummy/db/migrate/20250318222051_add_avatar_to_users.rb
  spec/dummy/db/migrate/20250318222237_add_info_to_users.rb
Due: reek, rubocop

Entity index with buttons (#90)
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/select_component.html.haml
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_area_component.html.haml
  app/components/tailwinds/form/text_area_component.rb
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.html.haml
  app/components/tailwinds/table_component.rb
  app/controllers/tramway/entities_controller.rb
  app/helpers/tramway/application_helper.rb
  app/views/tramway/entities/_list.html.haml
  config/tailwind.config.js
  lefthook.yml
  lib/kaminari/helpers/tag.rb
  lib/tramway/base_decorator.rb
  package.json
  spec/components/tailwinds/form/builder_spec.rb
  spec/dummy/app/forms/user_form.rb
  spec/dummy/app/views/users/_user.html.haml
  spec/dummy/app/views/users/index.html.haml
  spec/dummy/app/views/users/new.html.haml
  spec/dummy/db/migrate/20250318222051_add_avatar_to_users.rb
  spec/dummy/db/migrate/20250318222237_add_info_to_users.rb
  spec/dummy/db/schema.rb
  spec/features/form_for/base_spec.rb
  spec/features/table/base_spec.rb
  spec/forms/inheritance_form_spec.rb
Due: reek, rubocop, eslint

Release 0.5.3
  lib/tramway/version.rb
Due: reek, rubocop

Add index scope
  app/controllers/tramway/entities_controller.rb
  lib/tramway/configs/entities/page.rb
  lib/tramway/configs/entity.rb
Due: reek, rubocop
