Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

reek:
  tags: backend style
  run: bundle exec reek --force-exclusion {all_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

eslint:
  tags: frontend style
  run: make eslint

Issue #81. Prepare colors for white them
  app/assets/javascripts/tramway/table_row_preview_controller.js
  app/components/tailwinds/table/row/preview_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
Due: eslint

Issue #81. Fix dark theme
  app/assets/javascripts/tramway/table_row_preview_controller.js
Due: eslint

Issue #81. Fix colors
  app/components/tailwinds/table/header_component.html.haml
Due: none

Issue #81. Freeze array
  lib/tramway/configs/entity.rb
Due: reek, rubocop

Update README.md
  README.md
Due: none

Add appraisals
  Appraisals
  Gemfile
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile
  tramway.gemspec
Due: none

Add gemfile locks to gitignore
  .gitignore
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
Due: none

Update .gemspec
  tramway.gemspec
Due: none

Fix multiselect
  Appraisals
  Gemfile
  app/components/tailwinds/form/multiselect_component.rb
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  tramway.gemspec
Due: reek, rubocop

Update Github Actions
  .github/workflows/rspec.yml
Due: none

Rubocop autofixes
  Appraisals
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
Due: none

Test CI
  .github/workflows/rspec.yml
  spec/dummy/db/migrate/20240103082421_create_posts.rb
  spec/dummy/db/migrate/20240720025030_add_aasm_state_to_posts.rb
Due: reek, rubocop

Rails 8 and Appraisals (#83)
  .github/workflows/rspec.yml
  .gitignore
  Appraisals
  app/components/tailwinds/form/multiselect_component.rb
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  spec/dummy/db/migrate/20240103082421_create_posts.rb
  spec/dummy/db/migrate/20240720025030_add_aasm_state_to_posts.rb
  tramway.gemspec
Due: reek, rubocop

Release 0.4.9.2
  lib/tramway/version.rb
Due: reek, rubocop

Change select styles in Tailwind Form Builder
  app/components/tailwinds/form/select_component.html.haml
Due: none

Fix tests
  spec/components/tailwinds/form/builder_spec.rb
Due: reek, rubocop

Change select styles in Tailwind Form Builder (#84)
  app/components/tailwinds/form/select_component.html.haml
  spec/components/tailwinds/form/builder_spec.rb
Due: reek, rubocop

Release 0.4.9.3
  lib/tramway/version.rb
Due: reek, rubocop

Update navbar styles
  app/components/tailwinds/nav/item/button_component.rb
  app/components/tailwinds/nav/item/link_component.rb
  app/components/tailwinds/navbar_component.html.haml
Due: reek, rubocop

Remove wrapping links and button in navbar
  app/components/tailwinds/nav/item/button_component.rb
  app/components/tailwinds/nav/item/link_component.rb
Due: reek, rubocop

Issue #81. Add pagination
  app/views/tramway/entities/index.html.haml
  tramway.gemspec
Due: none

Markup pagination
  app/views/tramway/entities/index.html.haml
Due: none

Issue #81. Add dark-mode to pagination
  app/views/kaminari/_first_page.html.haml
  app/views/kaminari/_page.html.haml
Due: none

Issue #81. Add dark mode to all pagination buttons
  app/helpers/tramway/application_helper.rb
  app/views/kaminari/_first_page.html.haml
  app/views/kaminari/_gap.html.haml
  app/views/kaminari/_last_page.html.haml
  app/views/kaminari/_next_page.html.haml
  app/views/kaminari/_page.html.haml
  app/views/kaminari/_prev_page.html.haml
Due: reek, rubocop

Issue #81. Implement mobile version of pagination
  app/views/kaminari/_first_page.html.haml
  app/views/kaminari/_gap.html.haml
  app/views/kaminari/_last_page.html.haml
  app/views/kaminari/_next_page.html.haml
  app/views/kaminari/_page.html.haml
  app/views/kaminari/_prev_page.html.haml
Due: none

Issue #81. Fix tests
  spec/dummy/config/routes.rb
Due: reek, rubocop

Issue #81. Rebuild pagination
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/first_page_component.html.haml
  app/components/tailwinds/pagination/first_page_component.rb
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tailwinds/pagination/last_page_component.html.haml
  app/components/tailwinds/pagination/last_page_component.rb
  app/components/tailwinds/pagination/next_page_component.html.haml
  app/components/tailwinds/pagination/next_page_component.rb
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/pagination/page_component.rb
  app/components/tailwinds/pagination/prev_page_component.html.haml
  app/components/tailwinds/pagination/prev_page_component.rb
  app/helpers/tramway/application_helper.rb
  app/views/kaminari/_first_page.html.haml
  app/views/kaminari/_gap.html.haml
  app/views/kaminari/_last_page.html.haml
  app/views/kaminari/_next_page.html.haml
  app/views/kaminari/_page.html.haml
  app/views/kaminari/_prev_page.html.haml
  lib/tramway/helpers/component_helper.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/pagination/render_spec.rb
Due: reek, rubocop

Issue #81. Fix pagination tests
  spec/pagination/render_spec.rb
Due: reek, rubocop

Issue #81. Add mobile tests
  spec/pagination/render_spec.rb
  spec/rails_helper.rb
Due: reek, rubocop

Update pagination tests
  app/components/tailwinds/pagination/gap_component.rb
  app/helpers/tramway/application_helper.rb
  spec/pagination/render_spec.rb
Due: reek, rubocop

Issue #81. Add test about info on the page
  spec/dummy/app/decorators/comment_decorator.rb
  spec/dummy/app/models/comment.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/db/migrate/20241120022635_create_comments.rb
  spec/dummy/db/schema.rb
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Issue #81. Prepare tests for index view
  Gemfile
  app/views/tramway/entities/index.html.haml
  spec/dummy/app/decorators/post_decorator.rb
  spec/features/entities/index_spec.rb
  spec/rails_helper.rb
Due: reek, rubocop

Issue #81. Add mobile-friendly tests
  spec/features/entities/index_spec.rb
  spec/pagination/render_spec.rb
Due: reek, rubocop

Issue #81. Good enough working tests
  spec/features/entities/index_spec.rb
  spec/rails_helper.rb
Due: reek, rubocop

Issue #81. More tests
  spec/features/entities/index_spec.rb
Due: reek, rubocop

Issue #81. Rubocop fixes
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/first_page_component.rb
  app/components/tailwinds/pagination/gap_component.rb
  app/components/tailwinds/pagination/last_page_component.rb
  app/components/tailwinds/pagination/next_page_component.rb
  app/components/tailwinds/pagination/page_component.rb
  app/components/tailwinds/pagination/prev_page_component.rb
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row/preview_component.rb
  app/components/tailwinds/table/row_component.rb
  app/components/tailwinds/table_component.rb
  app/components/tramway/component/base.rb
  app/controllers/tramway/entities_controller.rb
  app/helpers/tramway/application_helper.rb
  lib/tramway/configs/entity.rb
  lib/tramway/helpers/component_helper.rb
  spec/dummy/app/decorators/comment_decorator.rb
  spec/dummy/app/decorators/post_decorator.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/app/models/comment.rb
  spec/dummy/config/initializers/tramway.rb
  spec/dummy/db/migrate/20241120022635_create_comments.rb
  spec/dummy/db/schema.rb
  spec/factories/comments.rb
  spec/features/entities/index_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
  spec/rails_helper.rb
Due: reek, rubocop

Fix navbar tets
  spec/components/tailwinds/navbar_component_spec.rb
Due: reek, rubocop

Issue #81. Fix tests
  spec/decorators/base_decorator_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Rubocop fixes
  app/components/tailwinds/pagination/base.rb
  app/components/tailwinds/pagination/page_component.rb
  app/components/tailwinds/table/header_component.rb
  app/components/tailwinds/table/row_component.rb
  app/components/tramway/component/base.rb
  app/controllers/tramway/entities_controller.rb
  app/helpers/tramway/application_helper.rb
  lib/tramway/helpers/component_helper.rb
  spec/features/entities/index_spec.rb
  spec/pagination/laptop_spec.rb
  spec/pagination/mobile_spec.rb
  spec/pagination/render_spec.rb
  spec/pagination/shared.rb
Due: reek, rubocop

Issue #81. Rubocop fixes
  spec/pagination/laptop_spec.rb
  spec/pagination/mobile_spec.rb
Due: reek, rubocop

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  eslint: any of: *.js
