Repository Purple-Magic/tramway: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, eslint

lefthook.yml:

pre-push:
  commands:
    test:
      tags: backend tests
      run: bundle exec rspec

pre-commit:
  commands:
    reek:
      tags: backend style
      glob: "*.rb"
      run: bundle exec reek --force-exclusion {all_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    eslint:
      tags: frontend style
      glob: "*.js"
      run: make eslint

Fix tests
  app/views/tramway/entities/index.html.haml
  spec/features/entities/index_spec.rb
  spec/helpers/navbar_helper_spec.rb
Due: reek, rubocop

Rubocop fixes
  Gemfile
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lib/tramway/decorators/class_helper.rb
Due: reek, rubocop

Support of Stimulus `change` action for Tramway Multiselect (#86)
  .github/workflows/rspec.yml
  Gemfile
  Makefile
  README.md
  app/assets/javascripts/tramway/multiselect_controller.js
  app/components/tailwinds/form/builder.rb
  app/components/tailwinds/form/multiselect_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/pagination/first_page_component.html.haml
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/last_page_component.html.haml
  app/components/tailwinds/pagination/next_page_component.html.haml
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/pagination/prev_page_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/views/tramway/entities/index.html.haml
  gemfiles/rails_7.0.gemfile
  gemfiles/rails_7.1.gemfile
  gemfiles/rails_7.2.gemfile
  gemfiles/rails_8.0.gemfile
  lib/tramway/decorators/class_helper.rb
  package.json
  spec/components/tailwinds/navbar_component_spec.rb
  spec/dummy/app/javascript/application.js
  spec/dummy/app/javascript/controllers/application.js
  spec/dummy/app/javascript/controllers/index.js
  spec/dummy/app/javascript/controllers/user_form_controller.js
  spec/dummy/app/views/users/new.html.haml
  spec/features/entities/index_spec.rb
  spec/features/multiselect_input_spec.rb
  spec/helpers/navbar_helper_spec.rb
  spec/rails_helper.rb
  spec/support/web_driver_helper.rb
Due: reek, rubocop, eslint

Release 0.5.1
  lib/tramway/version.rb
Due: reek, rubocop

Improve getting started
  README.md
Due: none

Update README.md
  README.md
Due: none

Add `kaminari` as a dependency
  README.md
  tramway.gemspec
Due: none

Update README
  README.md
Due: none

Add tailwindcss instructions
  README.md
  config/tailwind.config.js
  eslint.config.mjs
Due: eslint

Use tramway layout by default
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/layouts/application.html.haml
Due: reek, rubocop

Updates to achieve good enough entities index
  app/views/tramway/entities/index.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
Due: eslint

More updates for good enough entities index
  app/components/tailwinds/table/row_component.html.haml
  lib/tramway/base_decorator.rb
Due: reek, rubocop

Fix tests
  app/views/tramway/layouts/application.html.haml
  spec/dummy/app/assets/builds/tailwind.css
  spec/dummy/app/assets/config/manifest.js
Due: eslint

Add stringio gem
  Appraisals
Due: none

Drop Rails 7.0
  .github/workflows/rspec.yml
  Appraisals
Due: none

Improve getting started (#87)
  .github/workflows/rspec.yml
  Appraisals
  README.md
  app/components/tailwinds/table/row_component.html.haml
  app/controllers/tramway/entities_controller.rb
  app/views/tramway/entities/index.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  eslint.config.mjs
  lib/tramway/base_decorator.rb
  spec/dummy/app/assets/builds/tailwind.css
  spec/dummy/app/assets/config/manifest.js
  tramway.gemspec
Due: reek, rubocop, eslint

Release 0.5.1.1
  lib/tramway/version.rb
Due: reek, rubocop

Prepare routes for namespaced models
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  config/tailwind.config.js
Due: reek, rubocop, eslint

Fix tests
  spec/factories/tramway/configs/entities/routes.rb
  spec/factories/tramway/configs/entity.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop

Improve work with namespaced models (#88)
  app/controllers/tramway/entities_controller.rb
  config/routes.rb
  config/tailwind.config.js
  spec/factories/tramway/configs/entities/routes.rb
  spec/factories/tramway/configs/entity.rb
  spec/initializers/tramway_load_routes_spec.rb
Due: reek, rubocop, eslint

Release 0.5.1.2
  lib/tramway/version.rb
Due: reek, rubocop

Release 0.5.1.3
  app/components/tailwinds/table/row_component.html.haml
  lib/tramway/version.rb
Due: reek, rubocop

Fix markup
  app/views/tramway/entities/index.html.haml
Due: none

Release 0.5.1.4
  lib/tramway/version.rb
Due: reek, rubocop

Update to use list view
  app/views/tramway/entities/_entity.html.haml
  app/views/tramway/entities/_list.html.haml
  app/views/tramway/entities/index.html.haml
Due: none

Release 0.5.1.5
  lib/tramway/version.rb
  spec/dummy/app/decorators/post_decorator.rb
Due: reek, rubocop

Tailwind 4. Support
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  config/tailwind.config.js
  tramway.gemspec
Due: eslint

Fix tailwind classes for dark theme
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
  app/components/tailwinds/navbar_component.html.haml
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
Due: eslint

Tailwind 4. Class fixes
  app/components/tailwinds/nav/item/button_component.html.haml
  app/components/tailwinds/nav/item/button_component.rb
  app/components/tailwinds/nav/item/link_component.html.haml
  app/components/tailwinds/nav/item/link_component.rb
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/table/row_component.html.haml
Due: reek, rubocop

Tailwind 4. Update safelist
  config/tailwind.config.js
Due: eslint

Fix tailwind.config.js
  config/tailwind.config.js
Due: eslint

Tailwind 4. Updates
  app/components/tailwinds/form/text_field_component.html.haml
  app/components/tailwinds/pagination/first_page_component.html.haml
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/last_page_component.html.haml
  app/components/tailwinds/pagination/next_page_component.html.haml
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/pagination/prev_page_component.html.haml
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  config/tailwind.config.js
Due: reek, rubocop, eslint

Tailwind 4. Fix multiselect styles
  app/components/tailwinds/form/multiselect/dropdown_container.html.haml
  config/tailwind.config.js
Due: eslint

Tailwind 4. Support (#89)
  app/components/tailwinds/form/multiselect/dropdown_container.html.haml
  app/components/tailwinds/form/submit_button_component.html.haml
  app/components/tailwinds/form/text_field_component.html.haml
  app/components/tailwinds/nav/item/button_component.html.haml
  app/components/tailwinds/nav/item/button_component.rb
  app/components/tailwinds/nav/item/link_component.html.haml
  app/components/tailwinds/nav/item/link_component.rb
  app/components/tailwinds/nav/item_component.rb
  app/components/tailwinds/navbar_component.html.haml
  app/components/tailwinds/pagination/first_page_component.html.haml
  app/components/tailwinds/pagination/gap_component.html.haml
  app/components/tailwinds/pagination/last_page_component.html.haml
  app/components/tailwinds/pagination/next_page_component.html.haml
  app/components/tailwinds/pagination/page_component.html.haml
  app/components/tailwinds/pagination/prev_page_component.html.haml
  app/components/tailwinds/table/cell_component.html.haml
  app/components/tailwinds/table/header_component.html.haml
  app/components/tailwinds/table/row_component.html.haml
  app/components/tailwinds/table/row_component.rb
  app/views/tramway/layouts/application.html.haml
  config/tailwind.config.js
  tramway.gemspec
Due: reek, rubocop, eslint

Upgrade ruby in CI
  .github/workflows/rubocop.yml
Due: none

Upgrade rubocop funning
  .github/workflows/rubocop.yml
Due: none
